.glass {
    color: white;
    background: linear-gradient(rgba(255,255,255,0.2)0%, rgba(246,246,246,0.17) 70%, rgba(237,237,237,0.1) 100%) !important;
    box-shadow: 2px 3px 2px 3px rgba(1,1,1,0.2) !important;

}
.item.glass {
    color: white !important;
    background: linear-gradient(rgba(255,255,255,0.2)0%, rgba(246,246,246,0.17) 70%, rgba(237,237,237,0.1) 100%) !important;
    box-shadow: 2px 3px 2px 3px rgba(1,1,1,0.2) !important;

}
h1 {
    font-family: 'Lobster', cursive;
}
h2 {
    color:#444;
    font-size:22px;
    font-weight:600;
    font-family: 'Lobster', cursive;
}
.item h2 {
    font-size:24px !important
}
.spacer {
    padding:15px;
}
a {
    
    text-decoration:none;
}
.shadow {
    box-shadow: 2px 3px 2px 3px rgba(1,1,1,0.2) !important;
}
.moveUp {
    margin-top:-15px;
    margin-bottom:15px;

}

div input {
    background:rgb(240,240,240) !important
}
