<ion-side-menus style="background:rgba(1,1,1,0)">
<!-- Center content -->
<ion-side-menu-content style="background:rgba(1,1,1,0)">
    <div class="card" >
        hello
    </div>
</ion-side-menu-content>

<!-- Left menu -->
<ion-side-menu expose-aside-when="large" side="left" style="background:rgba(0,0,0,0.1)">

<h1 style="text-align:center; font-family: 'Lobster',cursive; color:#222">Navigation</h1>
<div class="list card" style="padding:20px; margin:20px">    
    <div href="?page=browse" class="item">
        <h2><i class="icon ion-planet" style="font-size:24;"></i>&nbsp;Browse</h2>
    </div>
    <div href="?page=search" class="item">
        <h2><i class="icon ion-ios7-search-strong" style="font-size:24;"></i>&nbsp;Search</h2>
    </div>
    <div href="?page=matches" class="item">
        <h2><i class="icon ion-heart" style="font-size:24;"></i>&nbsp;Matches</h2>
    </div>
     <div href="?page=logout" class="item">
        <h2><i class="icon ion-log-out" style="font-size:24;"></i>&nbsp;Logout</h2>
    </div>
</ion-side-menu>

</ion-side-menus>
