<a href="$url">
    <div style="padding:0 10; margin:20 80">
    <div class="item card" style="color:#444;padding:0;margin:0">
        <div class="row" style="height:140px;padding:0;display: flex;
            align-items: center;
            justify-content: center; ">
            <div class="col col-10" style="text-align:center">
                    <img src="$avatar" style="width:130px; height:130px; border-radius:50%; border: 4px solid #FF749E; margin: 0  auto; ">
            </div>
            <div class="col">
                <div class="spacer">
                    <h2 style="display:inline">&nbsp; Username: &nbsp;</h2><b style="font-size:20px; display:inline">$username</b> </div>
                <div class="spacer">
                    <h2 style="display:inline">&nbsp; Age: &nbsp;</h2><b style="font-size:20px; display:inline">$age</b>
                </div>
            </div>
            <div class="col">
                <div class="spacer">
                    <h2 style="display:inline">&nbsp; Gender: &nbsp;</h2><b style="font-size:20px; display:inline">$gender</b>
                </div>
                <div class="spacer">
                    <h2 style="display:inline">&nbsp; Match Score: &nbsp;</h2><b style="color:#FF4981;font-size:24px; display:inline">$match</b>

                </div> 
            </div>
            <div class="col col-10" style=" align-items: center; justify-content: center;">
                <div style="padding:35px 0; float:right;font-size:60px;" class="icon ion-chevron-right"></div>
            </div>
        </div>
    </div>
    </div>
</a>
