<div style="text-align:center; padding-top:10%">      
    <h1 style="display:inline-block;margin: 0 auto; font-family: 'Lobster', cursive; font-size:60px; color:#444">
        love2
    </h1>
    <i class="icon ion-heart" style="font-size:60px;">
    </i>
    <h1 style="display:inline-block;margin: 0 auto; font-family: 'Lobster', cursive; font-size:60px; color:#444; margin-left:-15px">
        41
    </h1>
    <form action="love2041.cgi?page=login" method="post">
        <div class="card" style="padding:60px; width:50%; margin:20px auto 10 auto; border-radius:5px;">
            <label style="background:#fdfdgd" class="item item-input">
                <input  type="text" name="username" placeholder="Username" value="$user">
            </label>
            <label style="background:#fdfdfd" class="item item-input">
                <input  type="password" name="loginpassword" placeholder="Password">
            </label>
            <div class="assertive">$error</div>
        </div>
    </div>
    
    <button type="submit" class="button glass" style="display:block; width:50%; margin:0 auto; border:0;  border-radius:5px">
        Login
    </button>
</form>
<a href="?page=register" style="display:block; text-align:center; padding-top:20px; color:white">
    Register
</a>
