<form name="register" action="love2041.cgi?page=register" method="post">
<div style="text-align:center; padding-top:10%">      
    <h1 style="display:inline-block;margin: 0 auto; font-family: 'Lobster', cursive; font-size:60px; color:#444">
        Registration
    </h1>
    <div class="card" style="padding:60px; width:50%; margin:20px auto 10 auto; border-radius:5px;">

            <label class="item item-input">
                <input
                name="name" type="text" required 
                placeholder="Username">
            </label>

            <label class="item item-input">
                <input name="email" type="email" required
                placeholder="Email">
            </label>

            <label class="item item-input">
                <input name="password" type="password" required
                placeholder="Password 8-16 Characters">
            </label>

            <label class="item item-input">
                <input name="confirm" type="password" required
                placeholder="Confirm Password">
            </label>
            <div class="assertive">$error</div>
</div>    
<button  class="button button-assertive glass" style="display:block; width:50%; margin:0 auto; border:0;  border-radius:5px">
    Sign Me Up!
</button>
</form>

